// 1. Import the initial variables

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";

// 2. Set your own initial variables
// Add a serif family
$family-serif: "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: black;
$primary-invert: white;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

$addColors: (
    "twitter":($twitter, $twitter-invert),
    "linkedin": ($linkedin, $linkedin-invert),
    "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../node_modules/bulma/bulma.sass";



.droppable-heading{
    max-width: 640px;
}
